@import "./var.scss";

html {
    background-color: $black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

body {
    height: 100%;
    #root {
        height: 100%;
        #appWrapper {
            height: 100%;
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1023.5px) {
    html {
        min-height: 930px;
    }
}