@import "./var.scss";

#wrapper00 {
    background-image: url(../assets/home/background-home-mobile.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center
    }
}

#detailsContainer00 {
    height: 47.5%;
}

#heading00 {
    color: $white; 
    text-transform: uppercase;
    width: 100%;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 80);
    line-height: 125%;
}

#headSpan00 {
    color: $grey;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    @include toRem(line-height, 19);
    text-align: center;
    @include toRem(letter-spacing, 2.7);
}

#bodyText00 {
    color: $grey;
    width: 100%;
    padding: 0 1.5rem;
    font-weight: 400;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 15);
    line-height: 167%;
}

#whiteBallContainer00 {
    height: 37.5%;
}

#whiteBall00 {
    background-color: $white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition: all .5s;

    &:hover {
        box-shadow: 0 0 0 50px rgba($white, $alpha: .25);
    }
}

#whiteBallText00 {
    color: $black;
    text-transform: uppercase;
}