@import "./var.scss";

#wrapper00 {
    background-image: url(../assets/home/background-home-mobile.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 4.5fr 4fr;
    grid-template-areas: 
    "navbar00"
    "detailsContainer00"
    "whiteBallContainer00";

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center
    }
}

#detailsContainer00 {
    grid-area: detailsContainer00;
}

#heading00 {
    color: $white; 
    text-transform: uppercase;
    width: 100%;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 80);
    line-height: 125%;
    margin: 1rem 0 1.5rem 0;
}

#headSpan00 {
    color: $grey;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    @include toRem(line-height, 19);
    text-align: center;
    @include toRem(letter-spacing, 2.7);
}

#bodyText00 {
    color: $grey;
    width: 100%;
    padding: 0 1.5rem;
    font-weight: 400;
    font-family: 'Barlow';
    font-style: normal;
    @include toRem(font-size, 15);
    line-height: 167%;
}

#whiteBallContainer00 {
    grid-area: whiteBallContainer00;
}

#whiteBall00 {
    background-color: $white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition: all .5s;

    &:hover {
        box-shadow: 0 0 0 50px rgba($white, $alpha: .25);
    }
}

#whiteBallText00 {
    color: $black;
    text-transform: uppercase;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 20);
    text-align: center;
    @include toRem(letter-spacing, 1.25);
}

#navbar00 {
    grid-area: navbar00;
}

@media screen and (min-width: 767px) and (max-width: 1023.5px) {
    #wrapper00 {
        background-image: url(../assets/home/background-home-tablet.webp);
    }

    #headSpan00 {
        @include toRem(font-size, 20);
        @include toRem(line-height, 24);
        @include toRem(letter-spacing, 3.375);
    }

    #heading00 {
        @include toRem(font-size, 150);
        line-height: 100%;
        margin: 2rem 0 2rem 0;
    }

    #bodyText00 {
        padding: 0 10rem;
        @include toRem(font-size, 16);
        line-height: 175%;
    }

    #whiteBall00 {
        height: 242px;
        width: 242px;
        &:hover {
            box-shadow: 0 0 0 80px rgba($white, $alpha: .25);
        }
    }

    #whiteBallText00 {
        @include toRem(letter-spacing, 2);
        @include toRem(font-size, 32);
    }
    
    #detailsContainer00 {
        position: relative;
    }

    #detailsContainerChild00 {
        position: relative;
        top: 25%;
        transform: translateY(-25%);
    }
}