@import './var.scss';

#wrapper03 {
    height: 100%;
    background: $black url(../assets/technology/background-technology-mobile.webp) no-repeat center center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 4fr 1fr 5fr;
    grid-template-areas: 
    "navbar03"
    "imgDetails03"
    "dotList03"
    "textDetails03";
}

.detailsContainer03 {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    color: $grey;
    span, ul, h2, p, div {
        width: 100%;
    }
}

#spanHeading03 {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    @include toRem(letter-spacing, 2.7);
    text-transform: uppercase;
    color: $white;
}

#spanHeadingNumber03 {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    @include toRem(letter-spacing, 2.7);
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.25;
    position: relative;
    left: -1rem;
}

#heroImg03 {
    width: 100%;
    overflow: hidden;
}

.dots03 {
    height: 40px;
    width: 40px !important;
    border-radius: 50%;
    border: 1px solid rgba($color: #FFF, $alpha: .25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: transparent;
    color: $white;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    transition: background-color .5s;
    cursor: pointer;
}

.dotsActive03 {
    border: 1px solid $white !important;
    background-color: $white !important;
    color: $black !important;
}

#smallHeading03 {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 14);
    text-align: center;
    @include toRem(letter-spacing, 2.3625);
    color: $grey;
    text-transform: uppercase;
    margin: .5rem 0;
    display: block;
}

#heading03 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 24);
    @include toRem(line-height, 28);
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin:.75rem 0 1rem 0;
    display: block;
}

#bodyText03 {
    padding: 0 1.5rem;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #D0D6F9;
}

#navbar03 {
    grid-area: navbar03;
}

#imgDetails03 {
    grid-area: imgDetails03;
}

#dotList03 {
    grid-area: dotList03;
    gap: 1rem;
}

#textDetails03 {
    grid-area: textDetails03;
}

@media screen and (min-width: 767px) and (max-width: 1023.5px) {
    #wrapper03 {
        background: $black url(../assets/technology/background-technology-tablet.webp) no-repeat center center;
        grid-template-rows: 90px 4fr 1fr 5fr;
        background-size: cover;
    }
    #spanHeading03 {
        text-align: left;
        @include toRem(font-size, 20);
        margin: 3rem 0 2rem 4rem;
    }
    #spanHeadingNumber03 {
        @include toRem(font-size, 20);
    }

    #heroImg03 {
        margin: 2rem 0;
    }

    .dots03 {
        height: 60px;
        width: 60px !important;
        border-radius: 50%;
    }

    #dotList03 {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    #smallHeading03 {
        font-size: 1rem;
        @include toRem(letter-spacing, 2.7);
        display: block;
        margin-bottom: 2rem
    }

    #heading03 {
        @include toRem(font-size, 40);
        margin-bottom: 2rem;
        display: block;
    }

    #bodyText03 {
        font-size: 1rem;
        line-height: 175%;
        padding: 0 10rem;
    }

    #textDetails03 {
        padding-top: 2rem;
        gap: 2rem;
    }

}

@media screen and (min-width: 1024px) {
    #wrapper03 {
        background: $black url(../assets/technology/background-technology-desktop.webp) no-repeat center center;
        background-size: cover;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 136px 1fr;
        grid-template-areas: 
        "navbar03 navbar03 navbar03"
        "dotList03 textDetails03 imgDetails03";
    }

    #heroImg03  {
        max-width: 527px;
        height: auto;;
    }

    #dotList03 {
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
        gap: 3rem;
    }

    .dots03 {
        width: 80px !important;
        height: 80px;
        @include toRem(font-size, 32);
        margin-right: 5rem;
    }

    #spanHeading03, #spanHeadingNumber03 {
        @include toRem(font-size, 28);
        @include toRem(letter-spacing, 4.72);
        transform: translate(-143%, 170%);
    }

    #smallHeading03 {
        font-size: 1rem;
        text-align: left
    }

    #heading03 {
        @include toRem(font-size, 56);
        text-align: left;
        @include toRem(line-height, 64.18);
        min-width: 480px;
        margin: 1.5rem 1rem 3rem 0;
    }

    #bodyText03 {
        @include toRem(font-size, 18);
        @include toRem(line-height, 32);
        text-align: left;
        padding: 0;
        width: 444px;
    }

    #imgDetails03 {
        justify-content: flex-end;
    }

    #textDetails03 {
        align-items: center;
    }
}