@import "./var.scss";

 #wrapper01 {
    background: $black url(../assets/destination/background-destination-mobile.webp) no-repeat center center;
    background-size: cover;
 }

#dvh100Container {
    height: 100svh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 1fr;
    grid-template-areas: 
    "navbar01"
    "imgDetails01"
    "textDetails01";
}

.detailsContainer01 {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    color: $grey;
    span, ul, h2, p, div {
        width: 100%;
    }
}

#spanHeading01 {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    @include toRem(line-height, 19);
    @include toRem(letter-spacing, 2.7);
    text-transform: uppercase;
    color: $white;
}

#spanHeadingNumber01 {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    @include toRem(line-height, 19);
    @include toRem(letter-spacing, 2.7);
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.25;
    position: relative;
    left: -1rem;
}

#planetImg {
    height: 170px;
    width: 170px;
    margin-top: 2rem;
}

.planetNameLinks {
    display: inline;
    text-transform: uppercase;
    margin: 0 .75rem;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 14);
    @include toRem(line-height, 17);
    @include toRem(letter-spacing, 2.3625);
    color: $grey;
    text-decoration: 2.5px underline transparent;
    text-underline-offset: 10px;
    transition: all .5s;
}

#heading01 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 56);
    @include toRem(line-height, 64);
    text-align: center;
    color: $white;
    text-transform: uppercase;
    margin: 2rem 0 1.25rem 0;
}

#bodyText01 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 15);
    line-height: 167%;
    text-align: center;
    color: $grey;
    padding: 0 1.5rem;
}

.activePlanetNameLink {
    color: $white !important;
    text-decoration-color: $white;
}

#hr01 {
    position: absolute;
    bottom: 0;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    border-color: #383B4B;
}

.travelHeadings01 {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 14);
    text-align: center;
    @include toRem(letter-spacing, 2.3625);
    text-transform: uppercase;
    color: $grey;
}

.travelDetails01 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    @include toRem(font-size, 28);
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin-top: 1rem;
}

.marginTop01 {
    margin-top: 2rem;
}

.margin01 {
    margin: 2rem 0;
}

#imgDetails01 {
    grid-area: imgDetails01;
}

#textDetails01 {
    grid-area: textDetails01;
}

#navbar01 {
    grid-area: navbar01;
}

@media screen and (min-width: 767px) and (max-width: 1023.5px) {
    #wrapper01 {
        height: 100%;
        background-image: url(../assets/destination/background-destination-tablet.webp);
    }
    #spanHeading01 {
        text-align: left;
        @include toRem(font-size, 20);
        margin: 3rem 0 2rem 4rem;
    }
    #spanHeadingNumber01 {
        @include toRem(font-size, 20);
    }

    #dvh100Container {
        height: 85%;
    }

    #planetImg {
        height: 300px;
        width: 300px;
    }

    .planetNameLinks {
        font-size: 1rem;
    }

    #heading01 {
        @include toRem(font-size, 80);
        margin: 1rem 0 0 0;
    }

    #bodyText01 {
        font-size: 1rem;
        @include toRem(line-height, 28);
        padding: 0 6rem;
    }

    #textDetails01 {
        margin-top: 3rem;
    }

    #hr01 {
        width: 80%;
    }

    #dvh20Contianer {
        height: 15%;
    }

    #BottomContainer011 {
        display: inline-flex;
        width: 40%;
        height: 100%;
        margin-top: 0;
        align-items: center;
    }

    #BottomContainer012 {
        display: inline-flex;
        width: 40%;
        height: 100%;
        margin-top: 0;
        align-items: center;
    }

    .travelHeadings01 {
        position: relative;
        bottom: 1.5rem;
    }

    .travelDetails01 {
        position: relative;
        bottom: .5rem;
    }
}