@use 'sass:math';

@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2lv0tKk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bellefair/v14/kJExBuYY6AAuhiXUxG1N-Po3huR_DQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3bWuYMBYro.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @mixin toRem($property, $value) {
    #{$property}: math.div($value, 16) + rem;
}

//  COLORS

$black: #0b0D17;
$grey: #D0D6F9;
$white: #FFF;

//  TYPOGRAPHY  

$bellefair: 'Bellefair', serif;
$barlow: 'Barlow Condensed', sans-serif;

@mixin bellefairFont {
    font-family: $bellefair;
}

@mixin barlowFont {
    font-family: $barlow;
}

// mixin size fixed
@mixin headingOne {
    @include bellefairFont;
    @include toRem(font-size, 80);
}

@mixin headingTwo {
    @include bellefairFont;
    @include toRem(font-size, 100);
}

@mixin headingThree {
    @include bellefairFont;
    @include toRem(font-size, 56);
}

// mixin size ficed
@mixin headingFour {
    @include bellefairFont;
    @include toRem(font-size, 20);
}

// mixin size fixed
@mixin headingFive {
    @include barlowFont;
    @include toRem(font-size, 16);
    @include toRem(letter-spacing, 4.75);
}

@mixin subheadingOne {
    @include bellefairFont;
    @include toRem(font-size, 28);
}

@mixin subheadingTwo {
    @include barlowFont;
    @include toRem(font-size, 14);
    @include toRem(letter-spacing, 2.35);
}

@mixin navText {
    font-size: 1rem;
    @include barlowFont;
    @include toRem(letter-spacing, 2.7);
}

// mixin size fixed
@mixin bodyText {
    line-height: 2rem;
    @include barlowFont;
    @include toRem(font-size, 15);
}